@{
    ViewBag.Title = "Home";
}

<div class="jumbotron home">
    <h1>Turbo Rango!</h1>
    <p class="lead">Bem vindo ao turbo rango, encontre um restaurante perto de você para acabar com sua fome.</p>
    @(Html.ActionLink("Sortear um restaurante", "Index", "Sorteios", new{}, new { @class = "btn btn-lg btn-success" }))
</div>